@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap');

:root {
    --header-height: 3rem;
  
    --hue-color: 250;
  
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
  
    --body-font: "Poppins", sans-serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  
    --font-medium: 500;
    --font-semi-bold: 600;
  
    --margin-bottom-0-25: 0.25rem;
    --margin-bottom-0-5: 0.5rem;
    --margin-bottom-0-75: 0.75rem;
    --margin-bottom-0-1: 1rem;
    --margin-bottom-0-1-5: 1.5rem;
    --margin-bottom-0-2: 2rem;
    --margin-bottom-0-2-5: 2.5rem;
    --margin-bottom-0-3: 3rem;
  
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-model: 100;
  
    @media screen and (min-width: 968px) {
      :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.873rem;
        --smaller-font-size: 0.813rem;
      }
    }
  }

body{
    background-color: var(--body-color);
font-size: 1rem;
color: var(--title-color);
}

.heading{
    font-family: 'Poppins';
    font-size: 40px;
    margin-top: 70px;
    margin-left:200px;
    transition: color 0.3s;
}

.p1{
    width:75%;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-left: 180px;
    border-radius: 20px;
}

.p1 a{
    color: var(--text-color);
}

.p1 .title{
    margin-top:40px;
    
    font-size: 35px;
    font-family: 'Pacifico';
    margin-left: 85px;
}

.abs{
    
    font-family: 'Poppins';
    font-size: 17px;
    margin: 70px;
    margin-bottom: 40px;
}

.p1 .title span{
    font-family: 'Poppins';
    font-size: 17px;
    
}



.images{
    margin-top: 80px;
    text-align: center;
    
}

.images img{
    border-radius: 15px;
    margin-left: 15px;
}

.techstack{
    margin-left: 30%;
    
    font-family: 'Poppins';
}

.techdis{
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 20px;
    
    font-family: 'Poppins';
}

.details{
    margin-top: 20px;
}


