body{
    background-color: black;
}

img{
    animation: slideMe .50s ease-out;
}

@keyframes slideMe{
    0%{
        transform: skewX(53deg) translate(-500%);
    }
    100%{
        transform: skew(0deg);
    }
}

.abt{
    animation: slideMee .7s ease-out;
}

@keyframes slideMee{
    0%{
        transform: skewX(53deg) translate(-500%);
    }
    100%{
        transform: skew(0deg);
    }
}
